<a href="https://colab.research.google.com/github/DaniBntz/TelecomX/blob/main/TelecomX_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Telecom X Challenge**

Se trata de un proyecto para evaluar los conocimientos como asistente de análisis de datos de la empresa "Telecom X", con el proyecto "Churn de Clientes". La empresa enfrenta una alta tasa de cancelaciones y necesita comprender los factores que llevan a la pérdida de clientes.

##1.Extracción

Importar los datos de la API de Telecom X. Estos datos están disponibles en formato JSON y contienen información esencial sobre los clientes, incluyendo datos demográficos, tipo de servicio contratado y estado de evasión.

In [240]:
#Comienzo importando la biblioteca Pandas
import pandas as pd

In [241]:
#ahora importo el archivo
dt = pd.read_json('/content/TelecomX_Data.json')

In [242]:
#comprueblo la información dentro del archivo
dt

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
...,...,...,...,...,...,...
7262,9987-LUTYD,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
7263,9992-RRAMN,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7264,9992-UJOEL,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7265,9993-LHIEB,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."
7266,9995-HOTOH,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'No', 'MultipleLines': 'No ph...","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."

In [243]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7267 non-null   object
 1   Churn       7267 non-null   object
 2   customer    7267 non-null   object
 3   phone       7267 non-null   object
 4   internet    7267 non-null   object
 5   account     7267 non-null   object
dtypes: object(6)
memory usage: 340.8+ KB

Se trata de un archivo que contiene 6 columnas, con 4 de ellas anidadas, el siguiente paso será extraer la información de las columnas.

In [244]:
customer = pd.json_normalize(dt['customer'])
phone = pd.json_normalize(dt['phone'])
internet = pd.json_normalize(dt['internet'])
account = pd.json_normalize(dt['account'])

In [245]:
#ahora uniré las clolumnas al DF original
dt = pd.concat([dt, customer, phone, internet, account], axis=1)

dt.sample(5)

,customerID,Churn,customer,phone,internet,account,gender,SeniorCitizen,Partner,Dependents,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
4806,6583-QGCSI,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Female,1,Yes,No,...,Yes,No,No,Yes,No,Month-to-month,Yes,Electronic check,88.05,4367.35
261,0380-NEAVX,No,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'One year', 'PaperlessBilling': '...",Male,1,No,No,...,Yes,Yes,No,Yes,Yes,One year,Yes,Electronic check,99.85,3343.15
2369,3312-UUMZW,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Male,0,Yes,No,...,Yes,No,No,Yes,Yes,Month-to-month,Yes,Credit card (automatic),98.85,3145.9
6194,8496-DMZUK,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'One year', 'PaperlessBilling': '...",Male,0,No,No,...,Yes,Yes,No,No,No,One year,No,Bank transfer (automatic),90.40,2820.65
7094,9770-KXGQU,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'One year', 'PaperlessBilling': '...",Female,0,No,No,...,Yes,Yes,No,Yes,No,One year,No,Mailed check,98.60,5311.85

In [246]:
#ahora eliminaré las columnas anidadas que se encuentran en el DF ya que
#se ha extraído la información

datos = dt.drop(['customer', 'phone', 'internet', 'account'], axis=1)

In [247]:
#Compruebo.
datos.sample(5)

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
1595,2266-SJNAT,No,Female,0,Yes,No,72,Yes,Yes,Fiber optic,...,Yes,Yes,Yes,Yes,Yes,One year,No,Credit card (automatic),109.15,7789.6
4727,6479-OAUSD,No,Male,0,No,No,25,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,One year,No,Credit card (automatic),19.90,510.8
2039,2876-GZYZC,No,Female,0,No,No,13,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.95,1215.65
1215,1732-VHUBQ,Yes,Female,1,Yes,Yes,47,Yes,No,Fiber optic,...,No,No,No,No,No,Month-to-month,No,Bank transfer (automatic),70.55,3309.25
4308,5918-VUKWP,No,Female,0,No,No,32,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,One year,No,Bank transfer (automatic),20.55,654.55

Primera parte, concluída.

## 2. Transformación

Comprender la estructura del dataset y el significado de sus columnas. Esta etapa servirá para identificar qué variables son más relevantes para el análisis de evasión de clientes.

✅ Explorar las columnas del dataset y verificar sus tipos de datos.

✅ Consultar el diccionario para comprender mejor el significado de las variables.

✅ Identificar las columnas más relevantes para el análisis de evasión.

In [248]:
#comienzo revisando la información de las columnas
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [249]:
#A primera vista noto que: Charges.Total, debe ser una columna tipo float.
#reviso la información que contiene la columna primero
datos['Charges.Total'].value_counts()

Charges.Total
20.2       11
           11
19.75       9
19.55       9
19.9        9
           ..
1993.2      1
72.1        1
1237.85     1
542.4       1
593.3       1
Name: count, Length: 6531, dtype: int64

In [250]:
import numpy as np

In [251]:
#Ahora elimino los caracteres que me pueden impedir transformar a float
datos['Charges.Total'] = datos['Charges.Total'].str.replace(',', '').replace('$', '').replace(' ', '').replace('', None)
#Tranformo a float
datos['Charges.Total'] = datos['Charges.Total'].astype(np.float64)
#reviso
datos['Charges.Total'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 7267 entries, 0 to 7266
Series name: Charges.Total
Non-Null Count  Dtype
--------------  -----
7256 non-null   float64
dtypes: float64(1)
memory usage: 56.9 KB

In [252]:
#reviso los datos
datos['Charges.Total'].isna().value_counts()

Charges.Total
False    7256
True       11
Name: count, dtype: int64

In [253]:
#identifico por qué están vacías esas filas.
total_nulos = datos['Charges.Total'].isna()
datos[total_nulos]

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
975,1371-DWPAZ,No,Female,0,Yes,Yes,0,No,No phone service,DSL,...,Yes,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,NaN
1775,2520-SGTTA,No,Female,0,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,NaN
1955,2775-SEFEE,No,Male,0,No,Yes,0,Yes,Yes,DSL,...,Yes,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,NaN
2075,2923-ARZLG,No,Male,0,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,NaN
2232,3115-CZMZD,No,Male,0,No,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,NaN
2308,3213-VVOLG,No,Male,0,Yes,Yes,0,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,NaN
2930,4075-WKNIU,No,Female,0,Yes,Yes,0,Yes,Yes,DSL,...,Yes,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,NaN
3134,4367-NUYAO,No,Male,0,Yes,Yes,0,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,NaN
3203,4472-LVYGI,No,Female,0,Yes,Yes,0,No,No phone service,DSL,...,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,NaN
4169,5709-LVOEQ,No,Female,0,Yes,Yes,0,Yes,No,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,NaN
5599,7644-OMVMY,No,Male,0,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,NaN

In [254]:
#noto que se trata de clientes que al parecer recién se suscribieron a la compañía
#por lo que no aportarán relación relevante para el estudio, así que eliminaré esas filas.

datos = datos.drop(datos[total_nulos].index, axis = 0)

#aplico reset al indice
datos = datos.reset_index(drop=True)

In [255]:
datos.value_counts().sum()

np.int64(7256)

In [256]:
datos['Charges.Total'].isna().value_counts()

Charges.Total
False    7256
Name: count, dtype: int64

In [257]:
#Ahora reviso las demás columnas.
datos.sample(3)

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
2994,4174-LPGTI,Yes,Female,0,Yes,Yes,41,Yes,No,DSL,...,Yes,No,Yes,No,Yes,One year,Yes,Bank transfer (automatic),66.50,2728.6
3781,5197-PYEPU,No,Female,0,Yes,Yes,42,Yes,Yes,Fiber optic,...,Yes,No,No,Yes,No,One year,Yes,Credit card (automatic),94.45,3923.8
6947,9581-GVBXT,No,Male,0,Yes,Yes,59,No,No phone service,DSL,...,No,Yes,No,No,No,One year,No,Mailed check,34.80,1980.3

In [258]:
datos.nunique()

customerID          7256
Churn                  3
gender                 2
SeniorCitizen          2
Partner                2
Dependents             2
tenure                72
PhoneService           2
MultipleLines          3
InternetService        3
OnlineSecurity         3
OnlineBackup           3
DeviceProtection       3
TechSupport            3
StreamingTV            3
StreamingMovies        3
Contract               3
PaperlessBilling       2
PaymentMethod          4
Charges.Monthly     1584
Charges.Total       6530
dtype: int64

In [259]:
#La mayoría son columnas Yes/No. que deben tener solo 2 datos unícos = Yes/No.
#Analizaré las clumnas que tienen más de 2 datos.

cols_revisar = datos[['Churn','MultipleLines','InternetService','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','Contract','PaymentMethod']]

In [260]:
for col in cols_revisar:
    print(f"\n--- {col} ---")
    print(datos[col].value_counts())

--- Churn ---
Churn
No     5163
Yes    1869
        224
Name: count, dtype: int64

--- MultipleLines ---
MultipleLines
No                  3490
Yes                 3061
No phone service     705
Name: count, dtype: int64

--- InternetService ---
InternetService
Fiber optic    3198
DSL            2483
No             1575
Name: count, dtype: int64

--- OnlineSecurity ---
OnlineSecurity
No                     3607
Yes                    2074
No internet service    1575
Name: count, dtype: int64

--- OnlineBackup ---
OnlineBackup
No                     3181
Yes                    2500
No internet service    1575
Name: count, dtype: int64

--- DeviceProtection ---
DeviceProtection
No                     3194
Yes                    2487
No internet service    1575
Name: count, dtype: int64

--- TechSupport ---
TechSupport
No                     3581
Yes                    2100
No internet service    1575
Name: count, dtype: int64

--- StreamingTV ---
StreamingTV
No                     2895
Yes                    2786
No internet service    1575
Name: count, dtype: int64

--- StreamingMovies ---
StreamingMovies
No                     2866
Yes                    2815
No internet service    1575
Name: count, dtype: int64

--- Contract ---
Contract
Month-to-month    4005
Two year          1733
One year          1518
Name: count, dtype: int64

--- PaymentMethod ---
PaymentMethod
Electronic check             2445
Mailed check                 1657
Bank transfer (automatic)    1587
Credit card (automatic)      1567
Name: count, dtype: int64

In [261]:
#defino los diccionarios con la información que debe llevar cada fila

mapeos = {
    # Columnas binarias simples Yes/No a 1/0
    'Churn': {'Yes': 1, 'No': 0},
    'Partner': {'Yes': 1, 'No': 0},
    'Dependents': {'Yes': 1, 'No': 0},
    'PhoneService': {'Yes': 1, 'No': 0},
    'PaperlessBilling': {'Yes': 1, 'No': 0},

    # Columnas binarias con categoría especial (No phone/internet service) a 0, Yes a 1
    'MultipleLines': {'Yes': 1, 'No': 0, 'No phone service': 0},
    'OnlineSecurity': {'Yes': 1, 'No': 0, 'No internet service': 0},
    'OnlineBackup': {'Yes': 1, 'No': 0, 'No internet service': 0}, #
    'DeviceProtection': {'Yes': 1, 'No': 0, 'No internet service': 0},
    'TechSupport': {'Yes': 1, 'No': 0, 'No internet service': 0},
    'StreamingTV': {'Yes': 1, 'No': 0, 'No internet service': 0},
    'StreamingMovies': {'Yes': 1, 'No': 0, 'No internet service': 0},

    #Columna descriptiva del cliente = gender
    'gender' : {'Female': 1, 'Male': 0}
        }
    #La columna SeniorCitizen ya está en binario.


# Aplico los mapeos usando la herramienta .replace()
datos.replace(mapeos, inplace=True)


#verifico

datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7256 entries, 0 to 7255
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7256 non-null   object
 1   Churn             7256 non-null   object
 2   gender            7256 non-null   int64
 3   SeniorCitizen     7256 non-null   int64
 4   Partner           7256 non-null   int64
 5   Dependents        7256 non-null   int64
 6   tenure            7256 non-null   int64
 7   PhoneService      7256 non-null   int64
 8   MultipleLines     7256 non-null   int64
 9   InternetService   7256 non-null   object
 10  OnlineSecurity    7256 non-null   int64
 11  OnlineBackup      7256 non-null   int64
 12  DeviceProtection  7256 non-null   int64
 13  TechSupport       7256 non-null   int64
 14  StreamingTV       7256 non-null   int64
 15  StreamingMovies   7256 non-null   int64
 16  Contract          7256 non-null   object
 17  PaperlessBilling  7256 non-null   int64
 18  PaymentMethod     7256 non-null   object
 19  Charges.Monthly   7256 non-null   float64
 20  Charges.Total     7256 non-null   float64
dtypes: float64(2), int64(14), object(5)
memory usage: 1.2+ MB

<ipython-input-261-f521f10d6c3b>:27: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  datos.replace(mapeos, inplace=True)

In [262]:
#reviso la columna churn
datos['Churn'].value_counts()

Churn
0    5163
1    1869
      224
Name: count, dtype: int64

In [263]:
#hay 224 filas que están "vacías" pero tienen un espacio.
#las detallaré para ver por qué están vacías.

churn_vacio = datos['Churn'].str.strip() == ''
datos[churn_vacio]

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
30,0047-ZHDTW,,1,0,0,0,11,1,1,Fiber optic,...,0,0,0,0,0,Month-to-month,1,Bank transfer (automatic),79.00,929.30
75,0120-YZLQA,,0,0,0,0,71,1,0,No,...,0,0,0,0,0,Two year,1,Credit card (automatic),19.90,1355.10
96,0154-QYHJU,,0,0,0,0,29,1,0,DSL,...,1,0,1,0,0,One year,1,Electronic check,58.75,1696.20
98,0162-RZGMZ,,1,1,0,0,5,1,0,DSL,...,1,0,1,0,0,Month-to-month,0,Credit card (automatic),59.90,287.85
175,0274-VVQOQ,,0,1,1,0,65,1,1,Fiber optic,...,1,1,0,1,1,One year,1,Bank transfer (automatic),103.15,6792.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7147,9840-GSRFX,,1,0,0,0,14,1,1,DSL,...,1,0,0,0,0,One year,1,Mailed check,54.25,773.20
7169,9872-RZQQB,,1,0,1,0,49,0,0,DSL,...,0,0,0,1,0,Month-to-month,0,Bank transfer (automatic),40.65,2070.75
7200,9920-GNDMB,,0,0,0,0,9,1,1,Fiber optic,...,0,0,0,0,0,Month-to-month,1,Electronic check,76.25,684.85
7228,9955-RVWSC,,1,0,1,1,67,1,0,No,...,0,0,0,0,0,Two year,1,Bank transfer (automatic),19.25,1372.90
7236,9966-VYRTZ,,1,0,1,1,31,1,0,No,...,0,0,0,0,0,Month-to-month,1,Mailed check,19.55,658.95

In [264]:
print(datos[churn_vacio].nunique())

customerID          224
Churn                 1
gender                2
SeniorCitizen         2
Partner               2
Dependents            2
tenure               64
PhoneService          2
MultipleLines         2
InternetService       3
OnlineSecurity        2
OnlineBackup          2
DeviceProtection      2
TechSupport           2
StreamingTV           2
StreamingMovies       2
Contract              3
PaperlessBilling      2
PaymentMethod         4
Charges.Monthly     188
Charges.Total       223
dtype: int64

In [265]:
#como comprobé hay datos relevantes en estas columnas, lo que indica
#que se debe colocar churn 0

datos.loc[churn_vacio, 'Churn'] = 0

In [266]:
#Ahora sí cambio el type de la columna Churn
datos['Churn'] = datos['Churn'].astype(np.int64)
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7256 entries, 0 to 7255
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7256 non-null   object
 1   Churn             7256 non-null   int64
 2   gender            7256 non-null   int64
 3   SeniorCitizen     7256 non-null   int64
 4   Partner           7256 non-null   int64
 5   Dependents        7256 non-null   int64
 6   tenure            7256 non-null   int64
 7   PhoneService      7256 non-null   int64
 8   MultipleLines     7256 non-null   int64
 9   InternetService   7256 non-null   object
 10  OnlineSecurity    7256 non-null   int64
 11  OnlineBackup      7256 non-null   int64
 12  DeviceProtection  7256 non-null   int64
 13  TechSupport       7256 non-null   int64
 14  StreamingTV       7256 non-null   int64
 15  StreamingMovies   7256 non-null   int64
 16  Contract          7256 non-null   object
 17  PaperlessBilling  7256 non-null   int64
 18  PaymentMethod     7256 non-null   object
 19  Charges.Monthly   7256 non-null   float64
 20  Charges.Total     7256 non-null   float64
dtypes: float64(2), int64(15), object(4)
memory usage: 1.2+ MB

Ahora me quedan las columnas que tienen categorías dentro. Aunque podría asignarles un valor, pienso que sería mejor separar las categorías en una categoría independiente, para que el análisis se pueda realizar mejor.

In [267]:
#Aplico la herramienta get_dummies para dividir las columnas

#InternetService
datos = pd.get_dummies(datos, columns=['InternetService'], prefix=' ', dummy_na=False)

# Contract
datos = pd.get_dummies(datos, columns=['Contract'], prefix=' ', dummy_na=False)

# PaymentMethod
datos = pd.get_dummies(datos, columns=['PaymentMethod'], prefix=' ', dummy_na=False)

#compruebo

datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7256 entries, 0 to 7255
Data columns (total 28 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   customerID                   7256 non-null   object
 1   Churn                        7256 non-null   int64
 2   gender                       7256 non-null   int64
 3   SeniorCitizen                7256 non-null   int64
 4   Partner                      7256 non-null   int64
 5   Dependents                   7256 non-null   int64
 6   tenure                       7256 non-null   int64
 7   PhoneService                 7256 non-null   int64
 8   MultipleLines                7256 non-null   int64
 9   OnlineSecurity               7256 non-null   int64
 10  OnlineBackup                 7256 non-null   int64
 11  DeviceProtection             7256 non-null   int64
 12  TechSupport                  7256 non-null   int64
 13  StreamingTV                  7256 non-null   int64
 14  StreamingMovies              7256 non-null   int64
 15  PaperlessBilling             7256 non-null   int64
 16  Charges.Monthly              7256 non-null   float64
 17  Charges.Total                7256 non-null   float64
 18   _DSL                        7256 non-null   bool
 19   _Fiber optic                7256 non-null   bool
 20   _No                         7256 non-null   bool
 21   _Month-to-month             7256 non-null   bool
 22   _One year                   7256 non-null   bool
 23   _Two year                   7256 non-null   bool
 24   _Bank transfer (automatic)  7256 non-null   bool
 25   _Credit card (automatic)    7256 non-null   bool
 26   _Electronic check           7256 non-null   bool
 27   _Mailed check               7256 non-null   bool
dtypes: bool(10), float64(2), int64(15), object(1)
memory usage: 1.1+ MB

In [268]:
#Las columnas nuevas que se crearon booleanas, las transformaré a tipo entero

for col in datos.columns:
    if datos[col].dtype == bool:
        datos[col] = datos[col].astype(int)

datos.sample(3)

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,...,_DSL,_Fiber optic,_No,_Month-to-month,_One year,_Two year,_Bank transfer (automatic),_Credit card (automatic),_Electronic check,_Mailed check
2728,3785-KTYSH,0,0,0,0,0,53,1,1,0,...,0,0,1,0,0,1,0,0,0,1
6731,9289-LBQVU,0,0,0,1,0,64,1,1,0,...,1,0,0,0,1,0,0,0,0,1
65,0107-YHINA,1,0,0,0,1,1,1,1,0,...,0,1,0,1,0,0,0,0,1,0

In [269]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7256 entries, 0 to 7255
Data columns (total 28 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   customerID                   7256 non-null   object
 1   Churn                        7256 non-null   int64
 2   gender                       7256 non-null   int64
 3   SeniorCitizen                7256 non-null   int64
 4   Partner                      7256 non-null   int64
 5   Dependents                   7256 non-null   int64
 6   tenure                       7256 non-null   int64
 7   PhoneService                 7256 non-null   int64
 8   MultipleLines                7256 non-null   int64
 9   OnlineSecurity               7256 non-null   int64
 10  OnlineBackup                 7256 non-null   int64
 11  DeviceProtection             7256 non-null   int64
 12  TechSupport                  7256 non-null   int64
 13  StreamingTV                  7256 non-null   int64
 14  StreamingMovies              7256 non-null   int64
 15  PaperlessBilling             7256 non-null   int64
 16  Charges.Monthly              7256 non-null   float64
 17  Charges.Total                7256 non-null   float64
 18   _DSL                        7256 non-null   int64
 19   _Fiber optic                7256 non-null   int64
 20   _No                         7256 non-null   int64
 21   _Month-to-month             7256 non-null   int64
 22   _One year                   7256 non-null   int64
 23   _Two year                   7256 non-null   int64
 24   _Bank transfer (automatic)  7256 non-null   int64
 25   _Credit card (automatic)    7256 non-null   int64
 26   _Electronic check           7256 non-null   int64
 27   _Mailed check               7256 non-null   int64
dtypes: float64(2), int64(25), object(1)
memory usage: 1.6+ MB

En este punto ya todos los datos están estandarizados, pero el DF está desordenado. Lo organizaré, trasladando las columnas de `Internet_Service`, `_DSL` y `_Fiber optic ` antes de la columna `OnlineSecurity` y pasaré las columnas `Charges.Monthtly` y `Charges.Total` al final.

In [270]:
# 1. Agrupo las columnas que quieiro mover
col_grupo1 = [' _No', ' _DSL', ' _Fiber optic']
col_grupo2 = ['Charges.Monthly', 'Charges.Total']

# 2. Obtengo todas las columnas actuales
col_actuales = datos.columns.tolist()

# 3. Inicio la lista del nuevo orden
nuevo_orden = []

#Añado las columnas que van antes de 'OnlineSecurity'
for col in col_actuales:
    if col == 'OnlineSecurity':
        break
    if col not in col_grupo1 + col_grupo2:
         nuevo_orden.append(col)

# Añado las columnas del grupo de internet
for col_internet in col_grupo1:
    if col_internet in datos.columns:
        nuevo_orden.append(col_internet)

#Añado 'OnlineSecurity' y el resto de columnas que van después
if 'OnlineSecurity' in datos.columns:
     nuevo_orden.append('OnlineSecurity')

     indice_referencia = col_actuales.index('OnlineSecurity')
     for col in col_actuales[indice_referencia + 1:]:
         if col not in col_grupo1 + col_grupo2:
             nuevo_orden.append(col)

# 4. Añado las columnas de precios al final
for col_precio in col_grupo2:
    if col_precio in datos.columns:
        nuevo_orden.append(col_precio)


# Verifico
print("\nNuevo orden de columnas:")
print(nuevo_orden)

Nuevo orden de columnas:
['customerID', 'Churn', 'gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure', 'PhoneService', 'MultipleLines', ' _No', ' _DSL', ' _Fiber optic', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'PaperlessBilling', ' _Month-to-month', ' _One year', ' _Two year', ' _Bank transfer (automatic)', ' _Credit card (automatic)', ' _Electronic check', ' _Mailed check', 'Charges.Monthly', 'Charges.Total']

In [271]:
#Guardo los cambios
datos_reorganizado = datos[nuevo_orden].copy()

datos = datos_reorganizado

datos.head()

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,_No,...,PaperlessBilling,_Month-to-month,_One year,_Two year,_Bank transfer (automatic),_Credit card (automatic),_Electronic check,_Mailed check,Charges.Monthly,Charges.Total
0,0002-ORFBO,0,1,0,1,1,9,1,0,0,...,1,0,1,0,0,0,0,1,65.6,593.30
1,0003-MKNFE,0,0,0,0,0,9,1,1,0,...,0,1,0,0,0,0,0,1,59.9,542.40
2,0004-TLHLJ,1,0,0,0,0,4,1,0,0,...,1,1,0,0,0,0,1,0,73.9,280.85
3,0011-IGKFF,1,0,1,1,0,13,1,0,0,...,1,1,0,0,0,0,1,0,98.0,1237.85
4,0013-EXCHZ,1,1,1,1,0,3,1,0,0,...,1,1,0,0,0,0,0,1,83.9,267.40

Para este punto, ya tengo toda la información tratada y es útil para el análisis. Sin embargo, eliminaré la columna `clientesID` y la columna ` _No`, debido a que contiene datos irrelevantes para el estudio, y cambiaré el nombre de las columnas a español, para hacerlo más entendible.

In [272]:
#primero elimino las columnas irrelevantes.

datos = datos.drop(datos[['customerID',' _No']], axis = 1)
datos.columns.tolist()

['Churn',
 'gender',
 'SeniorCitizen',
 'Partner',
 'Dependents',
 'tenure',
 'PhoneService',
 'MultipleLines',
 ' _DSL',
 ' _Fiber optic',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'PaperlessBilling',
 ' _Month-to-month',
 ' _One year',
 ' _Two year',
 ' _Bank transfer (automatic)',
 ' _Credit card (automatic)',
 ' _Electronic check',
 ' _Mailed check',
 'Charges.Monthly',
 'Charges.Total']

In [273]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7256 entries, 0 to 7255
Data columns (total 26 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Churn                        7256 non-null   int64
 1   gender                       7256 non-null   int64
 2   SeniorCitizen                7256 non-null   int64
 3   Partner                      7256 non-null   int64
 4   Dependents                   7256 non-null   int64
 5   tenure                       7256 non-null   int64
 6   PhoneService                 7256 non-null   int64
 7   MultipleLines                7256 non-null   int64
 8    _DSL                        7256 non-null   int64
 9    _Fiber optic                7256 non-null   int64
 10  OnlineSecurity               7256 non-null   int64
 11  OnlineBackup                 7256 non-null   int64
 12  DeviceProtection             7256 non-null   int64
 13  TechSupport                  7256 non-null   int64
 14  StreamingTV                  7256 non-null   int64
 15  StreamingMovies              7256 non-null   int64
 16  PaperlessBilling             7256 non-null   int64
 17   _Month-to-month             7256 non-null   int64
 18   _One year                   7256 non-null   int64
 19   _Two year                   7256 non-null   int64
 20   _Bank transfer (automatic)  7256 non-null   int64
 21   _Credit card (automatic)    7256 non-null   int64
 22   _Electronic check           7256 non-null   int64
 23   _Mailed check               7256 non-null   int64
 24  Charges.Monthly              7256 non-null   float64
 25  Charges.Total                7256 non-null   float64
dtypes: float64(2), int64(24)
memory usage: 1.4 MB

In [274]:
#Ahora, antes de crear la columna de Cuentas_diarias, cambiaré los nombres de las
#columnas, para que el estudio sea más entendible

nombres_nuevos = {
    'Churn': 'Cancelacion',
    'gender': 'Género',
    'SeniorCitizen': 'Jubilado',
    'Partner': 'Pareja',
    'Dependents': 'Dependientes',
    'tenure': 'Meses_contrato',
    'PhoneService': 'Servicio_telefonico',
    'MultipleLines': 'Multiples_lineas',
    ' _Fiber optic' : 'Fibra_optica',
    ' _DSL': 'DSL',
    'OnlineSecurity': 'Seguridad_Ol',
    'OnlineBackup': 'Backup_Ol',
    'DeviceProtection': 'Proteccion_dispositivo',
    'TechSupport': 'Soporte_tecnico',
    'StreamingTV': 'Streaming_TV',
    'StreamingMovies': 'Streaming_peliculas',
    ' _Month-to-month': 'Contrato_Mensual',
    ' _One year': 'Contrato_Anual',
    ' _Two year': 'Contrato_Bianual',
    'PaperlessBilling': 'Facturacion_electronica',
    'Charges.Monthly': 'Cuentas_mensuales',
    'Charges.Total': 'Cuentas_totales',
    ' _Bank transfer (automatic)': 'Pago_Trf.Bancaria_Auto',
    ' _Credit card (automatic)': 'Pago_TCredito_Auto',
    ' _Electronic check': 'Pago_ChequeElectronico',
    ' _Mailed check': 'Pago_ChequePorCorreo',
}

In [275]:
#Ahora cambio los nombres con la herramienta .rename

datos.rename(columns=nombres_nuevos, inplace=True)

In [276]:
#verifico

datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7256 entries, 0 to 7255
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Cancelacion              7256 non-null   int64
 1   Género                   7256 non-null   int64
 2   Jubilado                 7256 non-null   int64
 3   Pareja                   7256 non-null   int64
 4   Dependientes             7256 non-null   int64
 5   Meses_contrato           7256 non-null   int64
 6   Servicio_telefonico      7256 non-null   int64
 7   Multiples_lineas         7256 non-null   int64
 8   DSL                      7256 non-null   int64
 9   Fibra_optica             7256 non-null   int64
 10  Seguridad_Ol             7256 non-null   int64
 11  Backup_Ol                7256 non-null   int64
 12  Proteccion_dispositivo   7256 non-null   int64
 13  Soporte_tecnico          7256 non-null   int64
 14  Streaming_TV             7256 non-null   int64
 15  Streaming_peliculas      7256 non-null   int64
 16  Facturacion_electronica  7256 non-null   int64
 17  Contrato_Mensual         7256 non-null   int64
 18  Contrato_Anual           7256 non-null   int64
 19  Contrato_Bianual         7256 non-null   int64
 20  Pago_Trf.Bancaria_Auto   7256 non-null   int64
 21  Pago_TCredito_Auto       7256 non-null   int64
 22  Pago_ChequeElectronico   7256 non-null   int64
 23  Pago_ChequePorCorreo     7256 non-null   int64
 24  Cuentas_mensuales        7256 non-null   float64
 25  Cuentas_totales          7256 non-null   float64
dtypes: float64(2), int64(24)
memory usage: 1.4 MB

In [301]:
#Ahora crearé la coolumna de Cuentas_diarias
dias_mes = 30
datos['Cuentas_diarias'] = datos['Cuentas_mensuales'] / dias_mes
datos.sample(3)

,Cancelacion,Género,Jubilado,Pareja,Dependientes,Meses_contrato,Servicio_telefonico,Multiples_lineas,DSL,Fibra_optica,...,Contrato_Mensual,Contrato_Anual,Contrato_Bianual,Pago_Trf.Bancaria_Auto,Pago_TCredito_Auto,Pago_ChequeElectronico,Pago_ChequePorCorreo,Cuentas_mensuales,Cuentas_totales,Cuentas_diarias
454,0,0,0,0,0,3,1,0,0,1,...,1,0,0,0,0,0,1,82.30,214.40,2.743333
4855,0,1,0,0,0,11,1,0,1,0,...,1,0,0,0,0,1,0,64.90,716.10,2.163333
3274,0,0,0,1,1,52,1,0,1,0,...,0,1,0,0,0,1,0,68.75,3482.85,2.291667

Listo, ya tengo los datos correctamente tratados para pasar a la etapa de análisis.

## 3. Carga y análisis.

## 4. Informe final